*{
    box-sizing: border-box;
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

.top-songs {
    padding-bottom: 30px;
    color: #fff;


    ul{
        padding-left: 0;
    }

    .song-li{
        width: 95%;
        margin-bottom: 5px;
        font-size: 14px;


        ul{
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            li{
                width: 20%;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                cursor: pointer;
                
            }


            .song-img{
                width: 30px;
                height: 30px;
                cursor: pointer;
            }

            .song-icons{
                font-size: 14px;
                .material-icons{
                    margin-right: 10px;
                }

                .material-symbols-outlined{
                    font-size: 14px;
                    margin-right: 10px;
                }
            }
        }
    }
}