.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  height: 100vh;
}

.login-box {
  display: flex;
  flex-direction: column;
  align-items: center; 
  width: 20rem;
  height: 50vh;
  margin: auto 0;
  padding: 5rem;
  border: 1.5px solid rgb(215, 215, 215);
  border-radius: 1%;
}

.login-box img {
  width: 150px;
  height: 35px;
}


.input fieldset {
  border-radius: 0.3rem;
}
.input legend {
  text-align: left;
  font-size: 12px;
}

.input #email, #password {
  width: 20rem;
  font-size: 1.2rem;
  border: none;
}

.input #email:focus{
  outline: none;
  border: none;
}

.input #password:focus{
  outline: none;
  border: none;
}

.btn-box {
  display: flex;
  justify-content: space-between;
  
  width: 20rem;
  padding: 0.5rem 1rem;

}

.btn-box #signup {
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  color: white;
  background-color: #1DB954;
}

.btn-box #login {
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  color: white;
  background-color: #1765CC;
}
