.playlist-page {
    display: flex;
    flex-direction: column;
    //align-items: center;
    padding: 20px;
    background-color: #000;
    color: #fff; // 전체 텍스트 색상 변경
  
    h1 {
      color: #fff;
      margin-bottom: 30px; // 제목 아래 여백 추가
    }
  
    .playlist-actions {
      .action-btn {
        padding: 10px 20px;
        border: none;
        border-radius: 20px;
        background-color: var(--color--green);
        color: white;
        font-weight: bold;
        margin-bottom: 30px;
        cursor: pointer;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s ease;
  
        >span{
            font-size: 18px;
        }
        // &:hover {
        //   background-color: darken(var(--color--green), 10%); // 호버 시 색상 어둡게 변경
        // }
      }
    }
  
    .playlist-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      gap: 20px;
      width: 100%;
      max-width: 1200px;
  
      .playlist-card {
        background-color: #fff;
        border-radius: 15px;
        overflow: hidden;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease;
  
        &:hover {
          transform: translateY(-5px);
        }

        .playlist-thumbnail {
            position: relative;
            width: 100%;
            //padding-top: 56.25%; // 16:9 비율 유지
            padding-top: 75%;
            background-color: #222;
    
            img {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
    
            .like-imgs {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
    
              span {
                color: var(--color--green);
                font-size: 100px;
              }
            }

            .dislike-imgs span {
              transform: scaleY(-1); /* 수직 방향으로 뒤집기 */
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
    
          }
          span {
            color: var(--color--green);
            font-size: 100px;
          }
          
          }
  
        // .playlist-thumbnail img {
        //   width: 100%;
        //   display: block;
        //   height: auto;
        // }

        // .playlist-thumbnail .like-imgs {
        //     width: 100%;
        //     //display: block;
        //     height: auto;
        //     background-color: #222;
        //     display: flex;
        //     justify-content: center;
        //     align-self: center;

        //     span{
        //         color: var(--color--green);
        //         font-size: 100px;
        //         display: inline-block;
        //         padding: 20px;
        //     }
        //   }
  
        .playlist-details {
          padding: 15px;
  
          .playlist-title {
            margin: 0;
            color: #000;// 제목 색상 변경
            font-size: 1.2em;
          }
  
          .playlist-description {
            color: #555; // 설명 색상 변경
            font-size: 0.9em;
          }
        }
  
        .playlist-interact {
          padding: 10px 15px;
          display: flex;
          justify-content: space-between;
  
          button {
            border: none;
            border-radius: 20px;
            padding: 5px 15px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            background-color: var(--color--green);
            color: white;
  
            span {
              font-size: 16px;
            }
  
            &:hover {
              opacity: 0.9;
            }
          }
        }
      }
    }
  }
