.music-player-bar {
  display: grid;
  grid-template-columns: 1fr 9fr 1fr; /* 왼쪽, 중앙, 오른쪽 열 크기 설정 */
  align-items: center;
  position: fixed; /* 고정 위치 */
  left: 0; /* 왼쪽 가장자리에 정렬 */
  bottom: 0; /* 하단에 정렬 */
  width: 100%; /* 전체 너비 */
  padding: 15px;
  background-color: #333; /* 배경색 설정 */
  color: white;
  box-sizing: border-box;
  
}

.music-player-bar > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.music-thumbnail {
  display: flex; /* Flexbox를 사용하도록 설정 */
  align-items: center; /* 수직 방향으로 중앙 정렬 */
  justify-content: center; /* 수평 방향으로 중앙 정렬 */
 
}

.music-info {
  margin-left: 10px;
  text-align: left;
}


.icon {
  margin-right: 40px; /* 모든 아이콘에 동일한 오른쪽 마진 적용 */
}

.icon:last-child {
  margin-right: 0; /* 마지막 아이콘에는 마진 적용 안 함 */
}
