.sidebar,
.sidebar-clicked {
  display: flex;
  flex-direction: column;
  background-color: #020202;
  padding: 16px;
  align-items: start;
  color: #ffffff;

  border-right: 2px solid greenyellow;
}

.menu-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 4px 10px;

  width: 50px;
  height: 50px;

  #menu-item-text {
    font-size: 12px;
  }
}

.menu-list:hover {
  background-color: rgb(150, 150, 150);
  opacity: 0.8;
  cursor: pointer;
}

.menu-list-clicked {
  display: flex;
  align-items: center;
  padding: 0px 10px;
  width: 224px;
  height: 48px;
  font-size: 16px;
}

.menu-list-clicked:hover {
  background-color: rgb(150, 150, 150);
  opacity: 0.8;
  cursor: pointer;
}

#menu-toggle:hover {
  background-color: rgb(150, 150, 150);
  opacity: 0.8;
  border-radius: 50%;
  cursor: pointer;
}

#menu-item:hover {
  background-color: rgb(150, 150, 150);
  opacity: 0.8;
  cursor: pointer;
}

.add-playlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  width: 200px;
  height: 36px;
  font-size: 14px;
  background-color: #353535;
}

.playlist {
  #menu-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 216px;
    height: 56px;
    padding: 4px 50px 4px 16px;
  }
}
