.sidebar {
  display: inline-block;
  padding-top: 8px;
  position: fixed;
  top: 64px;
  height: 100%;
  width: 72px;
  align-items: start;
  background-color: #030303;
  color: #ffffff;
  border-right: 2px solid greenyellow;

}

.sidebar-open {
  display: inline-block;
  padding: 8px 8px;
  position: fixed;
  top: 64px;
  height: 100%;
  width: 224px;
  align-items: start;
  background-color: #030303;
  color: #ffffff;
  border-right: 2px solid greenyellow;

}

.menu-list-box {
  display: inline-block;
  justify-content: center;
  padding: 0 8px;
  background-color: #353535;
  max-height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.menu-item {
  display: block;
  min-height: 0;
  padding: 12px 0;
  text-align: center;
}

.menu-item-text {
  font-size: 10px;
  line-height: 12px;
  text-align: center;
}

.menu-item:hover {
  background-color: rgb(150, 150, 150);
  opacity: 0.8;
  cursor: pointer;
}

.menu-item-box-open {
  display: flex;
  align-items: center;
  padding: 0px 10px;
  width: 224px;
  height: 48px;
  font-size: 16px;
}

.menu-list-open:hover {
  background-color: rgb(150, 150, 150);
  opacity: 0.8;
  cursor: pointer;
}

#menu-toggle:hover {
  background-color: rgb(150, 150, 150);
  opacity: 0.8;
  border-radius: 50%;
  cursor: pointer;
}

#menu-item:hover {
  background-color: rgb(150, 150, 150);
  opacity: 0.8;
  cursor: pointer;
}

.add-playlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  width: 200px;
  height: 36px;
  font-size: 14px;
  background-color: #353535;
}

.playlist {
  #menu-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 216px;
    height: 56px;
    padding: 4px 50px 4px 16px;
  }
}
