.sidebar {
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;
  padding: 1rem;
  align-items: center;

  border: 2px solid greenyellow;
}

.sidebar div {
  background-color: azure;
  padding: 1rem;
}

#menu:hover {
  background-color: whitesmoke;
  opacity: 0.8;
  border-radius: 50%;
  cursor: pointer;
}
