.sidebar,
.sidebar-clicked {
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;
  padding: 16px;
  align-items: start;

  border: 2px solid greenyellow;
}

.menu-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: azure;
  padding: 4px 10px;

  width: 50px;
  height: 50px;

  #menu-item-text {
    font-size: 10px;
  }
}

.menu-list-clicked {
  display: flex;
  align-items: center;
  background-color: aquamarine;
  padding: 0px 10px;

  height: 50px;
}

#menu-toggle:hover {
  background-color: whitesmoke;
  opacity: 0.8;
  border-radius: 50%;
  cursor: pointer;
}

#menu-item:hover {
  background-color: whitesmoke;
  opacity: 0.8;
  cursor: pointer;
}

.add-playlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: beige;
  border-radius: 30px;
  width: 200px;
  height: 36px;
  font-size: 14px;

}

.playlist {
  #menu-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 216px;
    height: 56px;
    padding: 4px 50px 4px 16px;
  }
}
