.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  height: 100vh;
}

.signup-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 320px;
  height: 50vh;
  margin: auto 0;
  padding: 5rem;
  border: 1.5px solid rgb(215, 215, 215);
  border-radius: 1%;
}

.signup-box img {
  width: 150px;
  height: 35px;
}

.form div {
  display: flex;
  padding: 5px 10px;

  #check-email-btn {
    width: max-content;
  }
}

.form fieldset {
  border-radius: 0.3rem;
}
.form legend {
  text-align: left;
  font-size: 12px;
}

.form #email:focus {
  outline: none;
  border: none;
}

.form #password:focus {
  outline: none;
  border: none;
}

.btn-box {
  display: flex;
  justify-content: space-between;

  width: 20rem;
  padding: 0.5rem 1rem;
}

.btn-box button {
  border: none;
}

.btn-box #signup {
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  color: white;
  background-color: #1db954;
}

.btn-box #signup:hover {
  font-weight: bold;
  cursor: pointer;
  opacity: 0.7;
}

.btn-box #login {
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  color: white;
  background-color: #1765cc;
}

.btn-box #login:hover {
  font-weight: bold;
  cursor: pointer;
  opacity: 0.7;
}
